@page "/"
@inject NavigationManager NavigationManager
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<div>
	<PageTitle>MainPage</PageTitle>
	<div class="container-login100">
        <span class="login100-form-titleIndex">
            Добро пожаловать на конкурс "Мой город - без опасностей"
        </span>
        <p class="description">
            Отбору лучших практик, используемых администрациями муниципальных образований в области повышения устойчивости городов и населенных пунктов к чрезвычайным ситуациям, при проведении Всероссийского конкурса МЧС России по повышению устойчивости муниципальных образований в чрезвычайных ситуациях «Мой город – без опасностей»
        </p>
        <form class="login100-form">
            <button type="button" class="login100-form-btn" @onclick="ToAuth">
                Перейти к авторизации
            </button>
        </form>
    </div>
</div>

@code {

	public void ToAuth() => NavigationManager.NavigateTo("/login");

}

