<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Pages/UploadFileForUser.razor.css">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->
</head>
<table name="table1" class="table">
    <tbody>
        <tr>
            <td>Наименование субъекта Российской Федерации</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Наименование муниципального образования</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>ФИО Главы муниципального образования / Главы местной администрации</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Наименование должности Главы муниципального образование / Главы местной администрации</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Официальный веб-сайт Участника Конкурса</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Площадь территории муниципального образования, кв. км</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Количество населения муниципального образования, тыс. чел. (на момент заполнения заявки)</td>
            <td><input /></td>
        </tr>
        <tr>
            <td>ФИО должностного лица, ответственного за организационное сопровождение участия муниципального образования в Конкурсе </td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Должность ответственного должностного лица </td>
            <td><input /></td>
        </tr>
        <tr>
            <td>Телефон должностного лица: </td>
            <td><input /></td>
        </tr>
        <tr>
            <td>E-mail должностного лица:  </td>
            <td><input /></td>
        </tr>
    </tbody>
</table>

